<main class="container h-100">
    {{# if users}}
        <div class="row mt-5">
            <div class="col-md d-flex justify-content-center">
                <h4>Telegram users</h4>
            </div>
        </div>
        <ul class="list-group mt-3">
        {{# each users}}
                  <li class="list-group-item">
                    <p>Chat Identifier: {{this.chat_id}}</p>
                    <p>Token: {{this.token}}</p>
                    <button onclick="location.href='/delete/{{this.id}}'" class="btn btn-dark">Delete</button>
                    <button onclick="location.href='/editUser/{{this.id}}'" class="btn btn-dark">Edit</button>
                </li>
        {{/each}}
        </ul>
    {{else }}
        <div class="row h-100 mt-1 d-flex">
            <div class="col h-75 d-flex align-items-center justify-content-center">
                <h3>No users available</h3>
            </div>
        </div>
    {{/if}}


</main>

